<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <article>
        <h1>{{ post.title }}</h1>
        <p><small>Publicat la: {{ post.created_at }}</small></p>
        <hr>
        <p>{{ post.content }}</p>
    </article>

    <hr>
    
    <strong>Likes: {{ post.total_likes }}</strong>

    <br><br>
    
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if liked %}
        <button type="submit">Unlike</button>
        {% else %}
        <button type="submit">Like</button>
        {% endif %}
    {%else%}
        <p><a href="{% url 'admin:login' %}?next={{ request.path }}">Logheaza-te</a>pentru a da like!</p>
    {% endif %}
    </form>
    
    <br>
    <a href="{% url 'post_list' %}">Înapoi la lista de postări</a>
</body>
</html>