<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <article>
        <h1>{{ post.title }}</h1>
        <p><small>Publicat la: {{ post.created_at }}</small></p>
        <hr>
        <p>{{ post.content }}</p>
    </article>

    <hr>
    
    <h3>
        Likes: {{ post.total_likes }}
        
        {% if users_who_liked %}
            | Liked by:
            {% for user in users_who_liked %}
                {{ user.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </h3>

    <br>
    
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit">Unlike</button>
            {% else %}
                <button type="submit">Like</button>
            {% endif %}
        {% else %}
            <p><a href="{% url 'admin:login' %}?next={{ request.path }}">Loghează-te</a> pentru a da like!</p>
        {% endif %}
    </form>
    
    <br>
    <a href="{% url 'post_list' %}">Înapoi la lista de postări</a>
</body>
</html>